body
{
    background-color: rgb(39, 39, 39);
}
.heading
{
    background-color: aquamarine;
    box-shadow: 3px 3px 8px rgba(127, 255, 249, 0.8);
    text-align: center;
   
    padding: 5px;
    margin: 30px 75px;
    border-radius: 1cm;
}

.gallery
{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px;
}

.image-box
{
    width: 200px;
    height: 200px;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image-box img {
    width: 100%;
    height: auto;
    image-orientation: from-image;
    border-radius: 10px;
}